<template>
  <v-app>
    <v-main>
      <v-container class="fill-height">
        <v-row align="center" justify="center">
          <div class="cont1">
            <v-img
              class="img"
              src="./assets/img2.png"
              alt="Logo"
              contain
              height="300"
              width="350"
            ></v-img>
          </div>
          <v-col cols="10" sm="10" md="7" lg="6">
            <v-card elevation="3">
              <v-card-text>
                <v-form ref="form" @submit.prevent="submit">
                  <div class="inputs">
                    <p>سامانه جلوگیری از نشت اطلاعات</p>
                    <v-text-field
                      label="Username"
                      name="username"
                      prepend-inner-icon="mdi-account"
                      :rules="rules.name"
                    >
                    </v-text-field>
                    <v-text-field
                      label="Password"
                      name="password"
                      prepend-inner-icon="mdi-lock"
                      :type="showPassword ? 'text' : 'password'"
                      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                      @click:append="showPassword = !showPassword"
                      :rules="rules.name"
                    >
                    </v-text-field>
                    <!-- <v-card-actions class="text--secondary">
                      <v-text-field
                        label="Enter the characters"
                        name="captcha"
                        :rules="rules.name"
                      >
                      </v-text-field>
                      <a href="#" style="color: #fff">
                        <v-icon color="#676565" size="25">mdi-reload</v-icon>
                      </a>
                      <v-img
                        class="img ml-4"
                        src="./assets/captcha.jpg"
                        alt="Logo"
                        contain
                        width="150"
                      ></v-img>
                    </v-card-actions> -->
                    <div class="text-center">
                      <v-btn
                        type="submit"
                        class="white--text"
                        dark
                        x-large
                        rounded
                        width="200"
                        >Login</v-btn
                      >
                    </div>
                  </div>
                </v-form>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      showPassword: false,
      rules: {
        name: [(val) => (val || "").length > 0 || "This field is required"],
      },
    };
  },
  methods: {
    resetForm() {
      this.form = Object.assign({}, this.defaultForm);
      this.$refs.form.reset();
      this.$toast.show("Hey! im here");
    },
    submit() {
      this.snackbar = true;
      this.resetForm();
    },
  },
};
</script>

// linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
<style>
main {
  /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(to right, #141e30, #243b55); */
  background-image: url("./assets/ww15.jpg");
  background-size: cover;
}
.img {
  margin-right: auto;
  margin-left: auto;
}
.v-card {
  background-image: url("./assets/ww.jpg");
}
.v-btn {
  background: linear-gradient(to right, #1cb5e0, #4286f4);
  margin-top: 15px;
}
p {
  margin-top: 10px;
  font-family: Calibri;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #676565;
}
.cont1 {
  /* opacity: 0.9; */
}
.inputs {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1920px) {
  .v-card {
    margin-left: 100px;
  }
  .cont1 {
    margin-right: 100px;
  }
}
@media screen and (max-width: 1340px) {
  .v-card {
    margin-left: 100px;
  }
  .cont1 {
    margin-right: 100px;
  }
}
@media screen and (max-width: 1264px) {
  .v-card {
    margin-left: 100px;
  }
  .cont1 {
    margin-right: 0;
  }
}
@media screen and (max-width: 960px) {
  .v-card {
    margin-left: 0;
  }
  .cont1 {
    margin-right: 0;
    width: 220px;
  }
}
</style>
